body {
  font-family: 'DM Serif Display', serif;
  background-color: ivory;
}
h1 {
  font-size: 48px;
  color: olive;
  text-align: center;
}
.hide {
  display: none;
}
/* button settings */
.sweetButtons {
  display: none;
}

.savoryButtons {
  display: none;
}

.beverageButtons {
  display: none;
}
